/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.js--wp-about1,
.js--wp-about2,
.js--wp-about3,
.js--wp-service-box1,
.js--wp-service-box2,
.js--wp-service-box3,
.js--wp-service-box4,
.js--wp-service-box5,
.js--wp-service-box6,
.js--wp-pic1,
.js--wp-pic2,
.js--wp-pic3,
.js--wp-pic4,
.js--wp-pic5,
.js--wp-pic6,
.js--wp-pic7,
.js--wp-pic8 {
  opacity: 0; }

.js--wp-event1,
.js--wp-event2,
.js--wp-event3,
.js--wp-event4 {
  transform: translate3d(-120%, 0, 0);
  visibility: visible; }

.js--wp-news1,
.js--wp-news2,
.js--wp-news3,
.js--wp-news4 {
  transform: translate3d(120%, 0, 0);
  visibility: visible; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.about-animation-pic {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards; }
  .about-animation-pic--two {
    animation-delay: 0.3s; }

.services-animation {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards; }
  .services-animation--two {
    animation-delay: 0.2s; }
  .services-animation--three {
    animation-delay: 0.4s; }
  .services-animation--four {
    animation-delay: 0.6s; }
  .services-animation--five {
    animation-delay: .8s; }
  .services-animation--six {
    animation-delay: 1s; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.about-animation {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-120%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.event-animation {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards; }
  .event-animation--two {
    animation-delay: 0.2s; }
  .event-animation--three {
    animation-delay: 0.4s; }
  .event-animation--four {
    animation-delay: 0.6s; }

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(120%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.news-animation {
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-fill-mode: forwards; }
  .news-animation--two {
    animation-delay: 0.2s; }
  .news-animation--three {
    animation-delay: 0.4s; }
  .news-animation--four {
    animation-delay: 0.6s; }

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.mid-animation {
  animation-name: zoomIn;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards; }
  .mid-animation--two {
    animation-delay: 0.7s; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Alegreya Sans", sans-serif;
  color: #555;
  font-weight: 400;
  overflow-x: hidden;
  margin: 3rem 5rem;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    body {
      margin: 0; } }

.container {
  max-width: 120rem;
  border-radius: 2px; }

a {
  text-decoration: none;
  color: #fff; }

img {
  max-width: 100%; }

.heading_one {
  font-size: 6rem;
  font-weight: 300;
  color: #05ebfc; }

.heading_two {
  font-size: 3rem;
  font-weight: 300;
  color: #333; }
  .heading_two--bold {
    margin: 2rem auto;
    font-weight: 400; }

.heading_three {
  font-size: 2rem;
  color: #333;
  margin: 1rem 0; }

.heading_four {
  font-size: 1.5rem;
  color: #333; }

.paragraph {
  font-size: 1.3rem;
  color: #fff; }
  .paragraph--black {
    color: #555;
    font-size: 1.5rem; }
  .paragraph--footer {
    margin: 1.5rem 0; }
  .paragraph span {
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 1rem; }

.btn {
  display: inline-block;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  padding: 0.8rem 1.5rem;
  margin: 1.5rem 0;
  border: 2px solid #05ebfc;
  transition: all 0.3s; }
  .btn span {
    margin-left: 0.3rem;
    transition: margin-left 0.2s; }
  .btn:hover {
    background: #05ebfc;
    color: #fff; }
    .btn:hover span {
      margin-left: 0.8rem; }
  .btn--option {
    margin-top: 3rem; }
  .btn--black {
    border: none;
    color: #05ebfc; }

.about {
  display: grid;
  grid-template-areas: "text imgs";
  padding: 10rem;
  grid-gap: 7rem;
  max-height: 45rem; }
  @media only screen and (max-width: 56.25em) {
    .about {
      grid-gap: 0;
      padding: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      grid-template-areas: "text" "imgs";
      padding: 2.5rem;
      margin-bottom: 18rem; } }
  .about__details {
    grid-area: text;
    padding: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .about__details {
        padding: 2rem; } }
  .about__imgs {
    grid-area: imgs;
    position: relative; }
  .about__img {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    width: 90%;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .about__img {
        width: 65%;
        outline-offset: 0.5rem; } }
    .about__img--right {
      width: 75%;
      position: absolute;
      top: 35%;
      left: 25%; }
      @media only screen and (max-width: 37.5em) {
        .about__img--right {
          width: 65%;
          left: 35%; } }
    .about__img:hover {
      outline: 1.2rem solid #05ebfc;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
      @media only screen and (max-width: 37.5em) {
        .about__img:hover {
          outline: 0.5rem solid #05ebfc; } }

.services {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  padding: 3rem; }
  .services__box {
    background: #fff;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    display: grid;
    align-items: center;
    justify-items: center;
    transform: scale(1);
    transition: all .3s; }
    .services__box:hover {
      transform: scale(1.05); }
  .services__icon {
    height: 5rem;
    width: 5rem;
    fill: #101d2c; }

.footer {
  background: #101d2c;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      flex-wrap: wrap; } }
  .footer__details {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__details {
        flex-direction: column;
        justify-content: center; } }
  .footer__contact {
    margin: 0 3rem;
    align-self: flex-start; }
    @media only screen and (max-width: 37.5em) {
      .footer__contact {
        margin: 2rem 0; } }
  .footer__address {
    align-self: flex-start; }
  .footer__icon {
    height: 3rem;
    width: 3rem;
    fill: #fff;
    transform: scale(1);
    transition: all 0.3s; }
    .footer__icon:hover {
      transform: scale(1.1); }
  @media only screen and (max-width: 56.25em) {
    .footer__social {
      margin-top: 3rem; } }
  .footer__social a:nth-child(2) {
    margin: 0 1rem; }

.header {
  display: grid;
  margin-top: -8rem;
  grid-template-areas: "showcase showcase" "showcase showcase"; }
  @media only screen and (max-width: 37.5em) {
    .header {
      grid-template-areas: "showcase showcase";
      margin-top: unset; } }
  .header__showcase {
    grid-area: showcase;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 235, 252, 0.2), rgba(16, 29, 44, 0.9)), url(https://image.ibb.co/kYJK8x/showcase.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  @media only screen and (max-width: 56.25em) {
    .header__heading {
      margin-top: 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .header__heading {
      margin-top: 4rem; } }
  .header__paragraph {
    color: #fff;
    font-size: 2rem; }
  .header__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    color: #aaa; }
    .header__seenon-text::before, .header__seenon-text::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header__seenon-logos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 3rem;
    justify-items: center; }
    .header__seenon-logos img {
      height: 2.7rem; }
    @media only screen and (max-width: 56.25em) {
      .header__seenon-logos {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 3rem; } }
  .header__grp_one, .header__grp_two, .header__grp_three, .header__grp_four, .header__grp_five {
    margin: 2rem auto; }
  .header__grp_two, .header__grp_three {
    display: none; }
  .header__box {
    grid-area: box;
    background: #101d2c;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 8.5rem 2rem; }
    @media only screen and (max-width: 37.5em) {
      .header__box {
        display: unset;
        padding: 2rem; } }
  .header__img {
    height: 10rem;
    margin-top: 1rem;
    transform: scale(1);
    transition: transform .3s; }
    .header__img:hover {
      transform: scale(1.2); }

.mid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin: 5rem 0; }

.navbar {
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      width: 60vw;
      height: 100vh;
      transform: translateX(-100%);
      position: fixed;
      z-index: 100000;
      transition: transform 0.7s cubic-bezier(0.86, 0, 0.07, 1);
      background-color: rgba(0, 0, 0, 0.85); } }
  .navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    font-size: 2.6rem; }
    @media only screen and (max-width: 56.25em) {
      .navbar__menu {
        font-size: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .navbar__menu {
        flex-direction: column;
        align-items: center;
        margin: 2rem 0; } }
  .navbar__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative; }
    .navbar__text--header {
      display: none;
      color: #fff;
      padding: 0 1rem; }
      @media only screen and (max-width: 37.5em) {
        .navbar__text--header {
          display: unset; } }
    .navbar__text--footer {
      color: #fff;
      font-size: 3rem; }
      @media only screen and (max-width: 37.5em) {
        .navbar__text--footer {
          display: none; } }
  .navbar__heading {
    text-transform: uppercase;
    font-weight: 300; }
    @media only screen and (max-width: 37.5em) {
      .navbar__heading {
        font-size: 7rem; } }
  .navbar__subheading {
    font-size: 1.1rem;
    margin: 0;
    position: absolute;
    top: 70%; }
    @media only screen and (max-width: 56.25em) {
      .navbar__subheading {
        font-size: .9rem; } }
    @media only screen and (max-width: 37.5em) {
      .navbar__subheading {
        font-size: 1.9rem; } }
  @media only screen and (max-width: 37.5em) {
    .navbar__list {
      margin-top: 3rem; } }
  .navbar__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .navbar__items {
        flex-direction: column;
        font-size: 2.5rem; } }
  .navbar__item {
    margin-left: 6rem; }
    .navbar__item > a {
      position: relative; }
      .navbar__item > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #05ebfc;
        visibility: hidden;
        transform: scaleX(0);
        transition: all .2s ease-in-out 0s; }
      .navbar__item > a:hover:before {
        visibility: visible;
        transform: scaleX(1); }
    @media only screen and (max-width: 37.5em) {
      .navbar__item {
        margin-top: 3rem;
        margin-left: 0; } }

.navigation {
  position: relative; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    border-radius: 50%;
    z-index: 10000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    display: none;
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .navigation__button {
        display: block; } }
  .navigation__checkbox:checked ~ .navbar {
    transform: translateX(0); }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: black;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.updates {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .updates {
      margin: 3rem; } }
  .updates__details {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 2rem auto; }
    @media only screen and (max-width: 37.5em) {
      .updates__details {
        display: unset; } }
  .updates__date {
    margin-right: 5rem; }
