// COLORS
$color-white: #fff;
$color-black: black;
$color-theme-dark: #101d2c;
$color-grey-light: #aaa;
$color-theme-light: rgb(5, 235, 252);
$shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

// Primary text color
$color-primary: #555;

// PRIMARY HEADING COLOR
$color-primary-heading: #333;

// FONT VARIABLE
$font-primary: 'Alegreya Sans', sans-serif;
