.services {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

  padding: 3rem;

  // background-color: #f7f7f7;

  &__box {
    background: $color-white;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: $shadow;
    border-radius: 2px;

    display: grid;
    align-items: center;
    justify-items: center;

    transform: scale(1);
    transition: all .3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__icon {
    height: 5rem;
    width: 5rem;
    fill: $color-theme-dark;
  }
}